<form method="post">
    <tr>
        <td> Accused Name</td>
        <td><input type="text" name="acName" required/></td>
    </tr>
    <tr>
        <td> Father Name</td>
        <td><input type="text" name="fName" required/></td>
    </tr>
    <tr>
        <td> Gender</td>
        <td><select name="gender" required>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select></td>
    </tr>
    <tr>
        <td><button type="submit">Submit</button></td>
    </tr>
</form>