<h1> Search Records</h1> 

<form method="post">
    <table>
        <tr>
            <td>{{form.acName.label}}</td>
            <td>{{form.acName()}}</td>
        </tr>
        <tr>
            <td>{{form.fName.label}}</td>
            <td>{{form.fName()}}</td>
        </tr>
        <tr>
            <td>{{form.gender.label}}</td>
            <td>{{form.gender()}}</td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>